<!-- register.html: formulario de registro -->

{% extends "base.html" %}
{% block title %}Registro{% endblock %}
{% block content %}
<div class="center-absolute vh-100">
    <div class="card shadow-lg p-4" style="min-width:350px; max-width:400px; width:100%;">
        <div class="card-body">
            <h3 class="card-title text-center mb-4">Crear Cuenta</h3>
            <form method="POST">
                <div class="mb-3">
                    <label class="form-label">Email</label>
                    <input type="email" name="email" class="form-control" required>
                </div>
                <div class="mb-3">
                    <label class="form-label">Contraseña</label>
                    <input type="password" name="password" class="form-control" required>
                </div>
                <button class="btn btn-success w-100 mb-2">Registrarse</button>
            </form>
            <div class="d-flex flex-column align-items-center mt-3">
                <a href="{{ url_for('auth.login') }}" class="small text-decoration-none text-secondary">¿Ya tienes cuenta? Inicia sesión</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
